{% extends 'base.jinja' %}


{% block content %} 
<style>

    header {
        padding: 0px;
        text-align: center;
        font-size: 30px;
        color: green;
    }

    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    ul.article {
        margin: 1px; 
        list-style-type: none; 
        padding: 1px;    
    }

    #repository_box {
        border: 1px solid black; 
        max-height: 600px; 
        max-width: 1200px; 
        overflow: auto;
        padding: 2px;
        display: flex;
    }

    .parallel_display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    }

    .parallel_display > section {
    flex-basis: 40%; 
    }


    .outerBox {
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }

    .innerBox {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    }

    
    .box-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
    <ol style="float: left">
        <li style="display:inline-block"></li>
        <button onclick="logout()">logout</button>
    </ol>
    <ol style="margin-left: 200px">
        <button onclick="message_app()">Switch to chat</button>
    </ol>
</nav>


<header>
  <h2>Knowledge repository </h2>
</header>


<main>
   <section id="Make_article">
        <p class="text">Write an article: </p>
        <button onclick="showForm()">Write</button>
    </section>
    <form method="post" style="display: none" id = "Write_article" onsubmit="showTexts()">
    {{ form.hidden_tag() }}
        <textarea name="user_input" style="height: 100px; width: 500px; " 
        placeholder="Write an article, first enter will be the title, you can edit your article in the box below"></textarea>
        <input type="submit"  value="Enter">
        <button type="button" onclick=save()>Save changes</button>
    </form>

    <div class="parallel_display" style="margin-top: 20px">
        <section id="Comment_choice">
            <p class="text">Comment on whose article: </p>
            <input id="receiver" placeholder="username">
            <button onclick="comment_choice()">Comment</button>
        </section>

    
        <section id="Modify_choice">
            <p class="text">Modify whose article: </p>
            <input id="receiver" placeholder="username">
            <button onclick="comment_choice()">Modify</button>
        </section>

        <section id="Modify_box" style="display: none" >
            <p class="text">Modify: </p>
            <input id="message" placeholder="message">
            <button onclick="send()">Send</button>
            <button onclick="leave()">Leave Room</button>
        </section>

    </div>

    <div class="parallel_display">

        <section id="Delete_choice">
            <p class="text">Delete whose article or comment: </p>
            <input id="receiver" placeholder="username">
            <button onclick="comment_choice()">delete article</button>
            <button onclick="comment_choice()">delete comment</button>
        </section>


        <section id="Mute_choice">
            <p class="text">Enter the username to mute/unmute: </p>
            <input id="receiver" placeholder="username">
            <button onclick="comment_choice()">Mute</button>
            <button onclick="comment_choice()">Unmute</button>
        </section>

    </div>
    
    <div class="outerBox">
        <div  class =  "innerBox" id="innerBox1" style = "display: none" contenteditable="true" >
            <div  class = "box-item"  id="box1">
                <ul class = "article">
                    <h3 style="text-align: center;font-size: 15px; margin-bottom: 10px"><strong>{{ user_inputs[0] }}</strong></h3>
                    <li id = "author" style="display: none; text-align: right; margin-bottom: 10px;">Written by user {{ username }}</li>
                    {% for input_text in user_inputs[1:] %}
                        <li>{{ input_text }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div  class = "box-item"  id="comment1"></div>
        </div>
        <div class="innerBox" id="innerBox2" style = "display: none">
            <div  class = "box-item"  id="box2"></div>
            <div  class = "box-item"  id="comment2"></div>
        </div>
        <div class = "innerBox" id="innerBox3" style = "display: none">
            <div  class = "box-item"  id="box3"></div>
            <div  class = "box-item"  id="comment3"></div>
        </div>
        <div class = "innerBox" id="innerBox4" style = "display: none">
            <div  class = "box-item"  id="box4"></div>
            <div  class = "box-item"  id="comment4"></div>
        </div>
        <div class = "innerBox" id="innerBox5" style = "display: none">
            <div  class = "box-item"  id="box5"></div>
            <div  class = "box-item"  id="comment5"></div>
        </div>
        <div class = "innerBox" id="innerBox6" style = "display: none">
            <div  class = "box-item"  id="box6"></div>
            <div  class = "box-item"  id="comment6"></div>
        </div>

    </div>
    

    



<script src="/static/js/libs/socket.io.min.js"></script>
<script>

    {% if showItems %}
        $("#Make_article").hide();
        $("#Write_article").show();
        $("#author").show();
        $("#article1").show();
        for (let i = 1; i < 7; i++) {
            let id = "innerBox" + i; 
            $("#" + id).show(); 
        }
    {% endif %}

    function showForm() {
        $("#Make_article").hide();
        $("#Write_article").show();
    }

    async function message_app() {
        let msgURL = "{{ url_for('msg_user') }}";
        res = await axios.post(msgURL, {});
        window.open(res.data, "_self");
    }

    
    
    
</script>

{% endblock %}